.title {
  text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.5), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 0px 16px rgba(51, 51, 255, 0.25);
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 520px;
  max-width: 100%;
}

.img {
  width: 120px;
  height: 120px;
  background-image: url(../../../images/done-icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
